@import './themes';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: $background-medium;
  color: $text-light;
}

.main {
  background-attachment: fixed;
  background-image: url('../images/background-brown-carpentry-326311.jpg');
  background-size: cover;
  color: $text-light;
}

.alert {
  margin: 30px;
}

.decks-list,
.cards-list {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 3rem auto 0 auto;
}

.deck-prev-i,
.card-display-i {
  background-color: $background-medium;
  border-radius: 3.7%;
  color: $text-light;
  margin: 1%;
  min-width: 15rem;
  padding: 1%;
  width: 15vw;

  button {
    align-self: center;
    display: flex;
  }

  img {
    border-radius: 3.7%;
    width: 100%;
  }
}

.deck-title,
.deck-author {
  color: $text-light;
  text-decoration: none;
}
